body {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}
.ui-widget-header {
    text-align: center;
    font-size: 20px;
}
#libooking,
#lihistory {
    /*font-weight: bold;*/
    font-size: 20px;
    color: darkblue;
}
#tabs {
    margin-top: 150px;
    border: 1px solid red;
}

#body_bg{
    z-index: initial;
}

.search{
    background-color: #eaf8ff;
    margin-bottom: 20px;
    z-index: -2;
}

strong.logo {
    left: 0;
    right: 0;
    margin: auto;
    background-size: 100%;
    width: 100px;
    position: absolute;
    height: 57px;
    background-position: -2px -201px;
    top:10px;
    z-index: 5;
}

#logo{
    /*color: #000;*/
    z-index: 3;
    position: fixed;
    width: 150px;
    height: 115px;
    background: url("/images/airplane.png");
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-image: url('/images/airplane.png');*/
    /*background-repeat: no-repeat;*/
    /*background-color: transparent;*/
}


.img {
    width: 35px;
    length: 35px;
}
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding-bottom: 0px;
    background: blue;
}
.field {
    opacity:0.7;
    /*margin-top: -80px;*/
    /*margin-left: 80px;*/
    background-color: white;
}
#chooseflights,
#fav_flights {
    font-family: 'Berlin Sans FB';
    background-color: transparent;
    width: 400px;
    height: 350px;
    padding: 0.5em;
    /*float: left;*/
    margin: 10px;
    border: 1px solid red;
}

#activenavpills{
    background-color: #42b9f4;
}

.draggable {
    z-index: 100;
    color: darkblue;
    opacity: 1 !important;
    font-size: larger;
}

.droppable {
    opacity: 0.9;
    width: 400px;
    height: 400px;
    padding: 0.5em;
    float: left;
    margin: 10px;
    background-color: lightskyblue;
    border: 1px solid red;
    font-size: larger;
    color: #ff066b;
    z-index: 0;
}

#animation {
    position: absolute;
    top: 10px;
    left: 0px;
}
#welcome {
    position: absolute;
    margin-left: 30%;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e1e0ef;
    z-index: 3;
}

#nav_bar{
    z-index: 3;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    z-index: 2;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

#nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #42b9f4;
}

#nav-pills>li.active>a:hover{
    color: #000000;
}

#header a{

    z-index: 2;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/*#logout{*/
    /*color: #fff;*/
    /*background-color: #42b9f4;*/
    /*border-color: #000000;*/
/*}*/

/*#logout:hover{*/
    /*color: #000000;*/
/*}*/

#logo{
    /*background-repeat: no-repeat;*/
    z-index: 7;
}

/*#user{*/
    /*color: #ffffff;*/
    /*background-color: #42b9f4;*/
    /*border-color: #000000;*/
/*}*/

/*#user:hover{*/
    /*color: #000000;*/
/*}*/

#oneway-btn{
    color: #FFFFFF;
    background-color: #cdd1d3;
}

#oneway-btn.focus{
    color: #FFFFFF;
    background-color: #42b9f4;
}

#twoway-btn{
    color: #FFFFFF;
    background-color: #cdd1d3;
}
#twoway-btn.focus{
    color: #FFFFFF;
    background-color: #42b9f4;
}

#reverse{
    background-color: #42b9f4;
    color: #fff;
}
#reverse:hover{
    color: #000000;
}

#transfer:hover{
    color: #000000;
}

#carousel_set{
    height: 50%;
    background-color: transparent;
    /*max-width: 2000px;*/
    width: 98%;
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
    color: #ffffff;
}

#carousel_h21{
    color: #ffffff;
}
#carousel_p1{
    color: #ffffff;
}
#carousel_h22{
    color: #ffffff;
}
#carousel_p2{
    color: #ffffff;
}


#search_flight{
    width: 98%;
    position: relative;
}

#searchfli{
    background-color: #42b9f4;
    color: #fff;
    /*z-index: -3;*/
}

#searchfli:hover{
    color: #000000;
}

.btn-info {
    color: #fff;
    background-color: #42b9f4;
}

#jumbotron {
    position:relative;
    padding:50px;
    margin-bottom: 0px;
    /*opacity: 0.6;*/
    color: #FFFFFF;
    background: #000 url('/images/jum.jpg') center center;
    width: 100%;
    height: 546px;
    background-size: cover;
    /*overflow: hidden;*/
    top:0;left:0;
    z-index:1;
}

.row-footer {
    background-color: #000000;
    /*width: 100%;*/
    color: #ffffff;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.fa {
    padding: 10px;
    font-size: 40px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 4px 4px;
    border-radius: 80%;
    transition: all 1s;
}

.fa:hover {
    opacity: 0.7;
    color: #000000;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

#flightgif {
    margin-top: 30px;
    opacity: 0.6;
    width: 200px;
    height: 100px;
}

#main {
    position: absolute;
    top: 170px;
}

#resize {
    width: 150px;
    height: 150px;
    padding: 0.5em;
}

#credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
#credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
#credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
#credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
#credit-card-box label {
    display: block;
}

#credit-card-box .display-table {
    display: table;
}
#credit-card-box .display-tr {
    display: table-row;
}
#credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
#credit-card-box .panel-heading img {
    min-width: 180px;
}


#input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#input-group-addon, #input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

#cont{
    background-color: #eaf8ff;
    margin-bottom: 20px;
    margin-top: 20px;
    /*z-index: -2;*/
}