<!DOCTYPE html>
<html>
<head>
	<title>Book Flights, Make your travel the best | FlyHigh</title>
	<link rel="icon" type="image/png" href="images/airplane.png">
<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="angularjs/login.js"></script>
</head>

<body ng-app="login" ng-controller="login">
<div class="container">
	<!----START of login---->
	<div class="card card-container" id="card-container">
		<img id="profile-img" class="profile-img-card" />
		<p id="profile-name" class="profile-name-card"></p>
		<form form method="post" ng-submit="signIn();" method="post” name="signin" >
			<input type="email" id="email" class="form-control" ng-model="email" placeholder="Email address" required autofocus>
			</br>
			<input type="password" id="pwd" class="form-control" ng-model="password" type="password" placeholder="Password" required>
			<div id="remember" class="checkbox">
				<label id="rem-me">
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<input class="btn btn-lg btn-primary btn-block btn-signin" value="Sign-in" id="sign-in" type="submit"/>
			</br>
		</form>
		<a href="#" class="forgot-password">
			Forgot the password?
		</a>
	</div>
</div><!-- END of Login -->
</body>
</html>
