<!DOCTYPE html>
<html>
<head>
<title>FlyHigh!</title>
<link rel="stylesheet" href="/stylesheets/style.css">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="angularjs/login.js"></script>
<script src="otherjavascripts/passwordCheck.js" type="text/javascript"></script>

</head>

<body ng-app="login" ng-controller="login">

<div class="container">
	<div class="card card-container">
		<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
		<img id="profile-img" class="profile-img-card" />
		<p id="profile-name" class="profile-name-card"></p>
	</br>

		<form method="post" ng-submit="register();" name="register" >
			<input type="text" name="firstname" id="firstname" ng-model="firstname" placeholder="First Name" required autofocus>
			</br>
			<input type="text" name = "lastname" id="lastname" ng-model="lastname" placeholder="Last Name" required>
			</br>
			<input type="email" id="email" class="form-control" ng-model="email" placeholder="Email address" required>
			</br>
			<input type="password" name= "password" id="password" ng-model="password" type="password" placeholder="New password" required onkeyup="pwcheck()">
			</br>
			<span id='message'></span>
			<input type="password" name="confirmpassword" id="repassword" placeholder="Re-enter password" required onkeyup="pwrecheck()">
			<span id='alert_message'></span>
			</br>
			<label for="phone_number" id="phnum"> Phone number   </label> <input type="tel" ng-model="phone" name = "phone" id="phone" placeholder="xxx-xxx-xxxx " pattern="^\d{3}-\d{3}-\d{4}$" required>
			</br>
			<!--<input class="btn btn-lg btn-primary btn-block btn-signin" value="Sign-in" id="sign-in" type="submit"/>-->
			<input class="btn btn-lg btn-primary btn-block" value="Join Us" id="join-us" type="submit"/>
			</br> </br>
			<label for="existingCustomer" id="existingCustomer">Existing Customer?</label>&ensp;
			<input type="submit" value="Sign-in" id="reg-signin" onclick="location.href='login.html'">
			</form>
	</div>
</div>

	</div><!-- /card-container -->
</div><!-- /container -->
</body>
</html>
